Repository firebase/firebase-tools, pull requests merged in 2023-06, with the labels that each got.

#5894 Get autoTokenSyncURL in simpleProxy sooner, fixes #5852
  CHANGELOG.md
  src/frameworks/utils.ts
Labels: integration: web frameworks

#5923 Continue on 404, baseUrl for Next rewrites
  CHANGELOG.md
  scripts/webframeworks-deploy-tests/.firebaserc
  scripts/webframeworks-deploy-tests/firebase.json
  scripts/webframeworks-deploy-tests/functions/.gitignore
  scripts/webframeworks-deploy-tests/functions/index.js
  scripts/webframeworks-deploy-tests/functions/package-lock.json
  scripts/webframeworks-deploy-tests/functions/package.json
  scripts/webframeworks-deploy-tests/nextjs/next.config.js
  scripts/webframeworks-deploy-tests/run.sh
  scripts/webframeworks-deploy-tests/tests.ts
  src/frameworks/angular/index.ts
  src/frameworks/index.ts
  src/frameworks/interfaces.ts
  src/frameworks/next/index.ts
  src/frameworks/nuxt/index.ts
  src/frameworks/utils.ts
Labels: integration: web frameworks

#5839 Framework composer
  src/commands/index.ts
  src/commands/internaltesting-frameworks-compose.ts
  src/frameworks/compose/discover/index.ts
  src/frameworks/compose/driver/docker.ts
  src/frameworks/compose/driver/hooks.ts
  src/frameworks/compose/driver/index.ts
  src/frameworks/compose/driver/local.ts
  src/frameworks/compose/index.ts
  src/frameworks/compose/interfaces.ts
  src/test/frameworks/compose/engine/docker.spec.ts
  src/test/frameworks/compose/engine/hooks.spec.ts
Labels: turtles

#5719 Delete and re-create v2 function on Cloud Run API quota exhaustion
  CHANGELOG.md
  src/deploy/functions/release/executor.ts
  src/deploy/functions/release/fabricator.ts
  src/test/deploy/functions/release/executor.spec.ts
  src/test/deploy/functions/release/fabricator.spec.ts
Labels: api: functions

#5793 Implement module to link stack to GitHub repository
  src/api.ts
  src/commands/index.ts
  src/commands/internaltesting-frameworks-init.ts
  src/gcp/cloudbuild.ts
  src/init/features/composer/repo.ts
  src/test/init/features/composer.spec.ts
  src/utils.ts
Labels: turtles
