Repository firebase/firebase-tools, pull requests merged in 2025-03, with the labels that each got.

#8256 Support for different angular builders
  src/frameworks/angular/utils.spec.ts
  src/frameworks/angular/utils.ts
Labels: integration: web frameworks

#8295 fix webframeworks deploy checks
  CHANGELOG.md
  src/deploy/hosting/deploy.spec.ts
  src/deploy/index.spec.ts
  src/deploy/index.ts
Labels: integration: web frameworks

#8315 refactor isDeployingWebFramework and tests
  src/deploy/index.spec.ts
  src/deploy/index.ts
Labels: integration: web frameworks

#8314 Fix deploy with multiple target/site in firebase.json
  CHANGELOG.md
  src/deploy/index.spec.ts
  src/deploy/index.ts
Labels: integration: web frameworks

#7557 feat: support custom webpack and ngx-env builders
  CHANGELOG.md
  src/frameworks/angular/utils.spec.ts
  src/frameworks/angular/utils.ts
Labels: integration: web frameworks

#8318 Fix GCF V2 Artifact Registry cleanup
  CHANGELOG.md
  src/deploy/functions/containerCleaner.spec.ts
  src/deploy/functions/containerCleaner.ts
Labels: api: functions

#8381 handle null service account on CF deploy
  CHANGELOG.md
  src/gcp/cloudfunctions.spec.ts
  src/gcp/cloudfunctions.ts
  src/gcp/cloudfunctionsv2.spec.ts
  src/gcp/cloudfunctionsv2.ts
Labels: api: functions, integration: web frameworks
